{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Accounts{% endblock title %}
{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            {% for item in account_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.receipts.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
